body {
  margin: 0;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

header {
  height: 300px;
  background: rgb(8, 107, 53);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 120px;
  margin: 0;
  line-height: 60px;
  text-align: center;
}

header span {
  text-align: center;
  font-size: 30px;
}

main {
  flex: 1;
  text-align: center;
  background: rgb(245, 244, 244);
  padding-bottom: 2vw;
}

main nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 30px;
}

main nav ul li {
  padding: 0 10px;
  border: solid 1px;
  background-color: rgb(109, 107, 107);
}

main nav ul li img{
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

section h1 {
  font-size: 80px;
}

section h1 img {
  width: 80px;
  height: 80px;
}

.prof_inner {
  display: flex;
  justify-content: center;
}

.prof_inner img, .prof_inner p {
  margin: 0 60px;
}

.prof_inner img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.prof_inner_text {
  text-align: left;
  font-size: 30px;
}

.portfolio_innter {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
}

.portfolio_list {
  width: 20%;
  height: 20%;
  margin: 0 30px 20px 0;
}

.contact a img {
  width: 50px;
  height: 50px;
}

.contact p {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: rgb(65, 63, 63);
  text-align: center;
}

footer nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 30px;
}

footer nav ul li {
  padding: 0 10px;
}

footer nav ul li img{
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {

  header h1 {
    font-size: 20vw;
    line-height: 8.4vw;
  }

  header span {
    font-size: 4vw;
  }

  main nav ul {
    font-size: 5.1vw;
  }

  main nav ul li img{
    width: 5.1vw;
    height: 5.1vw;
  }

  footer nav ul {
    font-size: 3.8vw;
  }

  footer nav li img {
    width: 3.8vw;
    height: 3,8vw;
  }

  .prof_inner {
    flex-direction: column;
    align-items: center;
  }

  .prof_inner_text {
    text-align: center;
    margin-top: 20px;
  }


}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 22vw;
    line-height: 11vw;
  }

  header span {
    font-size: 6vw;
  }

  section h1 {
    font-size: 14vw;
  }

  section h1 img {
    width: 14vw;
    height: 14vw;
  }

  .prof_inner img {
    width: 60vw;
    height: 60vw;
  }

  .prof_inner_text {
    font-size: 8vw;
  }

  .contact a img {
    width: 14vw;
    height: 14vw;
  }


}
